@page "/accounts"
@inherits ApiClientSandboxPageBase

<PageTitle>Account Endpoints</PageTitle>

<h1>Account Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Accounts">
            <GetListAccountsComponent Client="Client" />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Account">
            <GetAccountComponent Client="Client" />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>