@page "/accounts"

<PageTitle>Account Endpoints</PageTitle>

<h1>Account Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Accounts">
            <GetListAccountsComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Account">
            <GetAccountComponent />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>