@page "/"

<PageTitle>Coinbase Advanced Trade API Client Sandbox</PageTitle>

<h1>Coinbase Advanced Trade API Client Sandbox</h1>

<p>This application allows the testing of calls to individual API endpoints.</p>

<p>Coinbase API Key credentials are required to connect.</p>

<ol>
    <li>Follow instructions to create API Key credentials.</li>
    <li>Save the API Key and API Secret to the ApiClientConfig section of the appsettings.json or secrets.json file.</li>
</ol>