@page "/orders"

<PageTitle>Order Endpoints</PageTitle>

<h1>Order Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Orders">
            <GetListOrdersComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get List Fills">
            <GetListFillsComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Order">
            <GetOrderComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Post Create Order">
            <PostCreateOrderComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Post Cancel Orders">
            <PostCancelOrdersComponent />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>

<br />

<h1>Create Order Helper Methods</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Create Market Order">
            <CreateMarketOrderComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Create Limit Order">
            <CreateLimitOrderComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Create Stop Limit Order">
            <CreateStopLimitOrderComponent />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>