@page "/products"

<PageTitle>Product Endproints</PageTitle>

<h1>Product Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Products">
            <GetListProductsComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product">
            <GetProductComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product Candles">
            <GetProductCandlesComponent />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Market Trades">
            <GetMarketTradesComponent />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>