@page "/products"
@inherits ApiClientSandboxPageBase

<PageTitle>Product Endproints</PageTitle>

<h1>Product Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Products">

        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product">

        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product Candles">

        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Market Trades">

        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>