@page "/products"
@inherits ApiClientSandboxPageBase

<PageTitle>Product Endproints</PageTitle>

<h1>Product Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get List Products">
            <GetListProductsComponent Client="Client" />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product">
            <GetProductComponent Client="Client" />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Product Candles">
            <GetProductCandlesComponent Client="Client" />
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Get Market Trades">
            <GetMarketTradesComponent Client="Client" />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>