@page "/transactionsummary"
@inherits ApiClientSandboxPageBase

<PageTitle>Transaction Summary Endpoints</PageTitle>

<h1>Transaction Summary Endpoints</h1>

<RadzenAccordion Multiple="true">
    <Items>
        <RadzenAccordionItem Text="Get Transaction Summary">
            <GetTransactionSummaryComponent Client="Client" />
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
