<div class="row">
    <div class="col-6">
        <h3>Subscription Messages</h3>
    </div>
    <div class="col-2 offset-4">
        <button class="btn btn-primary" @onclick="@ClearMessages">Clear Messages</button>
    </div>
</div>

@foreach (var message in Messages.OrderByDescending(m => m.Timestamp).Take(15))
{
    <hr />

    <WebSocketMessageComponent TItem="SubscriptionEvent" Message="@message" />

    @foreach (var messageEvent in message.Events)
    {
        <div class="form-group row p-2">
            <label class="col-1 col-form-label">Subscriptions</label>
        </div>

        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.Level2" Title="Level 2" />
        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.MarketTrades" Title="Market Trades" />
        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.Status" Title="Status" />
        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.Ticker" Title="Ticker" />
        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.TickerBatch" Title="Ticker Batch" />
        <SubscriptionListComponent SubscriptionList="messageEvent.Subscriptions.User" Title="User" />
    }
}

@code {
    [Parameter]
    public List<WebSocketMessage<SubscriptionEvent>> Messages { get; set; } = new List<WebSocketMessage<SubscriptionEvent>>();

    public void ClearMessages()
    {
        Messages.Clear();
    }
}
