<div class="form-group row p-2">
    <label class="col-2 col-form-label">@Title</label>
    @if (SubscriptionList != null && SubscriptionList.Any())
    {
        <label class="col-10 col-form-label">@string.Join(", ", SubscriptionList)</label>
    }
    else
    {
        <label class="col-10 col-form-label">Not Subscribed</label>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public List<string> SubscriptionList { get; set; } = new List<string>();
}
