<div class="row">
    <div class="col-6">
        <h3>Ticker Messages</h3>
    </div>
    <div class="col-2 offset-4">
        <button class="btn btn-primary" @onclick="@ClearMessages">Clear Messages</button>
    </div>
</div>

@foreach (var message in Messages.OrderByDescending(m => m.Timestamp).Take(15))
{
    <WebSocketMessageComponent TItem="TickerEvent" Message="@message" />
}

@code {
    [Parameter]
    public List<WebSocketMessage<TickerEvent>> Messages { get; set; } = new List<WebSocketMessage<TickerEvent>>();

    public void ClearMessages()
    {
        Messages.Clear();
    }
}
