@typeparam TItem where TItem : WebSocketEvent

<div class="form-group row p-2">
    <label class="col-1 col-form-label">Channel</label>
    <label class="col-1 col-form-label">@Message.Channel</label>
    <label class="col-1 col-form-label">ClientId</label>
    <label class="col-2 col-form-label">@Message.ClientId</label>
    <label class="col-2 col-form-label">Sequence Number</label>
    <label class="col-2 col-form-label">@Message.SequenceNumber</label>
    <label class="col-1 col-form-label">Timestamp</label>
    <label class="col-2 col-form-label">@Message.Timestamp</label>
</div>

@code {
    [Parameter]
    public WebSocketMessage<TItem> Message { get; set; } = new WebSocketMessage<TItem>();
}
